﻿<%@ Page
    Title="SchoolError"
    Language="C#"
    MasterPageFile="~/SchoolMasterPage.Master"
    AutoEventWireup="true"
    CodeBehind="SchoolInfo.aspx.cs"
    Inherits="eDziennik.App_View.Grupa_4.SchoolInfo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        <h1><asp:Label ID="Label1" runat="server" Text="Label"></asp:Label></h1>
        <p>
            <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label><br />
            <asp:HyperLink ID="HyperLink1" runat="server">Powrót</asp:HyperLink>
        </p>
        
    </div>
</asp:Content>
